<div class="card">
    <div class="card-header text-center">
        <h4 class="card-title">{{scholar.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{scholar.position}}, {{scholar.place}}</h6>
    </div>
    <div class="card-block">
        <p class="card-text">Detail: {{scholar.detail}}</p>
        <p class="card-text">Detail: {{scholar.misc}}</p>
        <h6 class="card-subtitle mb-2 text-muted">{{scholar.contact}}</h6>
    </div>
    <div class="card-footer text-muted text-center">
        <button class="btn btn-outline-primary" (click)="onEdit()">Edit</button>
        <button class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
    </div>
</div>