<div class="home">
    <div class="jumbotron" style="margin-top: 0; padding: 40px 0 40px 20px;">
        <h2 class="display-2" >
            Sorokiniana <span class="text-muted" >continues...</span>
        </h2>
        <img src="/images/pas3.png" alt="" height="230px" class="rounded float-right" style="margin-top: -122px; border-radius: 40%">
    </div>

    <div class="container"><h3>Scholars:</h3>
        <span style="color: rgba(255,255,255,.6)">Search By..</span>
        <div class="row">
                <div class="form-group" >
                    <label class="col-sm-4" style="color: rgba(255,255,255,.6)">Name</label>
                    <input type="search" [(ngModel)]="userFilter.name" class="form-control col-sm-8" placeholder="type name">
                </div>
            <div class="form-group">
                <label class="col-sm-4" style="color: rgba(255,255,255,.6)">Country</label>
                <input type="search" [(ngModel)]="userFilter.country" class="form-control col-sm-8" placeholder="type name">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <p (click)="onSelect(scholar)" *ngFor="let scholar of scholars |filterBy: userFilter " class="thelist"
                   [class.selected]="scholar == selectedScholar">
                    {{scholar.name}} ({{scholar.country}})
                </p>
            </div>
            <div class="col-sm-7" *ngIf="selectedScholar">
                <div class="card card-outline-warning mb-3">
                    <div class="card-block" style="color: cornsilk">
                        <h3 class="text-center">{{selectedScholar.name}}, {{selectedScholar.place}}</h3>
                        <span class="position">{{selectedScholar.position}}</span>
                        <p class="card-text">Contributions: {{selectedScholar.detail}}</p>
                        <p class="card-text">About: {{selectedScholar.misc}}</p>
                        >
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="!selectedScholar">
                <p style="color: aliceblue; font-weight: 300;">
                "There is no question that Sorokin was a sociological giant, one whose pioneer studies
                The Sociology of Revolution, Social Mobility, Contemporary Sociological Theories,
                and of course, Social and Cultural Dynamics, to name just the most obvious provided
                basic frames for major sociological fields. But although an academic professor,
                he was also a prophet, one who felt his responsibility to decry certain conditions and behavior patterns of modernity,
                to warn of their consequences, and to seek or prepare us to go beyond the normative crisis of late modernity"
                    <cite title="Source Title"> - Edward A. Tiryakian</cite>
            </p>
                <span style="color: rgba(255,255,255,.6)">(click to see details)</span>
            </div>
        </div>


    </div>
</div>
